@media (max-width: 426px) {
  body {
    overflow-y: hidden;
  }
  h1 {
    text-align: center;
  }
  header nav {
    display: none;
  }
  .section-hello {
    flex-direction: column;
  }
  .section-hello img {
    order: -1;
    width: 50%;
  }
  .perfil--inicial {
    width: 20rem;
    margin-top: 4rem;
  }

  @keyframes escrever {
    100% {
      max-width: 95%;
    }
  }
  .section-aboutme {
    min-height: 95vh;
  }
  .section-aboutme img {
    display: none;
  }
  .text-container {
    width: 15rem;
  }
  .text-container p,
  h1 {
    width: 20rem;
    padding-right: 5%;
  }

  #curriculo {
    margin-right: 5%;
  }
  .section-skill {
    height: 90vh;
  }
  .icon-skills {
    width: 20rem;
    gap: 2rem;
    flex-wrap: wrap-reverse;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
  }
  
  @media (min-width: 600px) {
    .icon-skills {
      justify-content: space-between;
      gap: 80rem; /* Aumente o valor do gap para adicionar mais espaçamento */
    }
  }
  .section-projects {
    height: 230vh;
    justify-content: space-evenly;
  }

  .contact-me {
    height: 75vh;
  }
  form {
    width: 21rem;
  }
  input,
  textarea,
  .btn-contato {
    width: 20rem;
  }
  #seta-volver {
    width: 5%;
    bottom: 3.5%;
  }
}
@media (max-width: 780px) {
  header img {
    position: absolute;
    left: 3rem;
    top: 3rem;
  }
  header nav {
    position: fixed;
    top: 0px;
    height: 100vh;
    flex-direction: column;
    width: 100%;
    margin: auto;
    background-color: rgba(0, 0, 255, 0.5);
    z-index: 1000;
    display: none;
    transition: 0.3s ease-in-out;
  }
  header nav a {
    color: white;
    z-index: 50000;
    transition: 0.3s ease-in-out;
  }
  #contact {
    border: #353634;
    background-color: #353634;
    border: #353634;
    z-index: 10000;
    transition: 0.3s ease-in-out;
  }
  nav .fa-mark {
    display: none;
    z-index: 80000;
    color: #353634;
    transition: all 0.5s;
    transition: 0.3s ease-in-out;
  }

  body .fa-bars {
    display: block;
    transition: all 0.5s;
  }

  .section-hello {
    flex-direction: column;
  }
  .perfil--inicial h1 {
    text-align: left;
  }
  .section-hello img {
    order: -1;
    width: 25%;
  }
  .section-aboutme {
    height: 90vh;
  }
  .text-container {
    width: 25rem;
  }
  .section-projects {
    min-height: 160vh;
  }
  .card-complet {
    width: 30rem;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .card-job {
    margin: auto;
    font-size: 1.2rem;
    width: 5rem;
  }
  .contact-me {
    justify-content: space-evenly;
    height: 60vh;
  }
}
